/* Global styles */
*{
  color: white;
}
body {
  font-family: Arial, sans-serif;
background-color: #17252A;;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

/* Media queries */
@media screen and (max-width: 480px) {
  form {
    max-width: none;
  }
}


/* navbar styling */
.navbar {
  background-color: #17252A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 1em;
  border-radius: 25em;
  font-family: sans-serif;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 300;
}

.nav-item:hover {
  background-color: #2B7A67;
  transform: scale(1.1);
}

/* Styles for smaller screens */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .nav-link {
    padding: 10px;
    border-radius: 0;
  }
}